*{
    margin: 0;
    padding: 0;
}

header{
    margin-top: 10px;
    display: flex;
    width: 99vw;
    height: 5vh ;
    & .logo{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-left: 10vw;
    }
    & .nav{
        width: 100%;
        margin-right: 10vw;
        display: flex; 
        justify-content: flex-end;
        align-items: center;
            & .nav__list {
            display: flex;
            list-style: none;
            width: 40%;
            justify-content: space-between;
                & .nav__link{
                font-family: 'IBM Plex Mono', monospace;
                font-size: 16px;
                color: #060A24;
                letter-spacing: 0;
                line-height: 28px;
                font-size: 16px;
                text-transform: uppercase;
                letter-spacing: 0;
                line-height: 28px;
                text-decoration: none;
                    &:hover{
                        cursor: pointer;
                        font-family: 'IBM Plex Mono - Medium', monospace;
                        font-size: 16px;
                        text-decoration: line-through;
                        color: #00F3BB;
                        letter-spacing: 0;
                        line-height: 28px;
                    }
                    &:active{
                        font-family: 'IBM Plex Mono', monospace;
                        font-size: 16px;
                        color: rgba(6,10,36,0.56);
                        text-decoration: line-through;
                        letter-spacing: 0;
                        line-height: 28px;
                    }
                }
            }
    }

}

.bienvenida{
    margin-left: 200px;
    margin-right: 100px;
    height: 50vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    &__content{
        & .titulo {
            width: 80%;
            height: 40%;
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 64px;
            font-weight: normal;
            color: #060A24;
            letter-spacing: 0;
            & .tachado {
                text-decoration: line-through;
                font-family: 'IBM Plex Sans', sans-serif;
                font-size: 64px;
                color: #060A24;
                letter-spacing: 0;
            }
            & .azul{
                color: #0000ec;
                font-family: 'IBM Plex Sans', sans-serif;
                font-size: 64px;
                letter-spacing: 0;
            }
        }
        & p {      
            width: 628px;
            font-family: 'IBM Plex Mono', monospace; 
            font-size: 16px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 24px;
        }       
    }
}
.containerBoton {
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: flex-end;
    & .bienvenida__boton{
        display: flex;
        width: 226px;
        height: 56px;
        font-family: 'IBM Plex Mono - Medium', monospace;
        font-size: 18px;
        color: #060A24;
        text-transform: uppercase;
        background-color: #00F3BB;
        align-items: center;
        justify-content: center;
        &:hover{
            background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
            cursor: pointer;
        }
    }
}
.episodios{
    background: linear-gradient(90deg, rgba(0,0,163,1) 0%, rgba(0,0,255,1) 100%); 
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
    height: 125vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .episodios__titulo{
        font-family: 'IBM Plex Sans', monospace;
        margin-left: 15vw;
        margin-bottom: 20px;
        font-weight: normal;
        font-size: 48px;
        color: white;
        align-self: flex-start;
        text-transform: capitalize;
        letter-spacing: 0;        
    }
     .iframes{
        width: 80vw;
        height: 60vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        iframe{
            width: 35vw;
            height: 230px;
        }
    }
}
.donde{
    display: flex;
    height: 70vh;
        .dondecontainer{
            width: 80vw;
            height: 50vh;
            display: flex;
            justify-content: space-around;
            flex-flow: row nowrap;
            .dondetexto{
                margin-left: 30vw;
                p{
                    font-family: 'IBM Plex Mono', monospace; 
                    font-size: 16px;
                    color: #060A24;
                    letter-spacing: 0;
                    line-height: 24px;
                    width: 30vw;
                }      
                h2{
                    font-family: 'IBM Plex Sans', monospace;
                    font-weight: 400;
                    font-size: 48px;
                    color: #060A24;
                    letter-spacing: 0;
                    margin-bottom: 3vh;
                }
            }
            .dondeimagen {
                width: 20vw;
                img{
                    position: absolute;  
                    margin-left: 15vw; 
                    margin-top: -20vh;     
                    width: 400px;
                    height: 650px;
                }
            }
        }
}
.invitados{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        font-family: 'IBM Plex Sans', monospace;
        font-weight: 400;
        font-size: 48px;
        color: #060A24;
        letter-spacing: 0;
        margin-bottom: 36px;
        width: 1040px;
    }
}
.invitados-grid{
    font-size: 0;
    grid-template-columns: auto auto auto;
    display: flex;
    flex-flow: row wrap;
    img{
        width: 33.33%;
    }
}
.subjects{
    display: flex;
    align-items: center;
    height: 50vh;
    justify-content: center;
    &__title {
        font-family: 'IBM Plex Sans', monospace;
        font-weight: 400;
        font-size: 48px;
        color: #060A24;
        letter-spacing: 0;
        margin-bottom: 70px;
    }

    &__container {
        width: 1040px;
    }

    &__list {
        display: flex;
        flex-flow: row nowrap;
    }

    &__item {
        display: flex;
        flex: 1;
        flex-flow: column;
        text-align: center;
        
        &--image {
            margin-bottom: 30px;
        }
        &--text {
            font-family: 'IBM Plex Sans', monospace;
            font-weight: 600;
            font-size: 24px;
            color: #060A24;
            letter-spacing: 0;
            text-align: center;
        }
    }
}
.novedades{
        display: flex;
        background: linear-gradient(90deg, rgba(0,0,163,1) 0%, rgba(0,0,255,1) 100%); 
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
        height: 520px;
        align-items: flex-end;
        justify-content: center;
        width: 100vw;
    &__container {
        width: 80vw;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        &__title{
            font-family: 'IBM Plex Sans', monospace;
            color: #FFFFFF;
            font-weight: 400;
            font-size: 48px;
            letter-spacing: 0;
            margin-bottom: 70px;
        }
        &__boton{
            text-align: center;
            display: flex;
            width: 345px;
            height: 56px;
            font-family: 'IBM Plex Mono - Medium', monospace;
            font-size: 18px;
            color: #060A24;
            text-transform: uppercase;
            background-color: #00F3BB;
            align-items: center;
            justify-content: center;
            &:hover{
                background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
                cursor: pointer;
            }
        }
    }
}
footer{
    display: flex;
    justify-content: center;
    .footer__container{
        display: flex;
        align-items: center;
        height: 10vh;
        width: 80vw;
        justify-content: space-between;
        &__text{
            width: 30vw;
            font-family: 'IBM Plex Mono', monospace;
            font-size: 16px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 28px;
        }
        &__icons{
            width: 20vw;
            height: 40px;
            display: flex;
            flex-flow: row;
            justify-content: space-around;
                .brand{
                    display: flex;
                    width: 40px;
                    height: 40px;
                    align-items: center;
                    justify-content: center;
                    color: black;
                    a{
                        color: black;
                    }
                    
                }
        }
    }
}