*{
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin-top: 10px;
    margin-bottom: 20px;
    .logo{
        margin-left: 16px;
        height: 24px;
        width: 24px;
    }
    nav{
        .menu{
            padding-top: 3px;
            margin-right: 16px;
            ul{
                width: 100vw;
                position: absolute;
                right: 0;
                overflow: hidden;
                list-style: none;
                background: #0000EC;
                height: 0px;
                transition: height 0.5s ease;
                margin-top: 10px;
                li{
                    position: relative;
                    margin-left: 16px;
                    & :first-child{
                        margin-top: 16px;
                        &:hover{
                            color: #fff;
                            font-family: 'IBM Plex Mono-Medium', monospace;
                            font-size: 16px;
                            font-weight: 500;
                            color: #00F3BB;
                            letter-spacing: 0;
                            line-height: 28px;
                        }
                        &:active{
                            font-family: 'IBM Plex Mono', monospace;
                            font-size: 16px;
                            color: rgba(6,10,36,0.56);
                            text-decoration: line-through;
                            font-weight: 500;
                            letter-spacing: 0;
                            line-height: 28px;
                        }
                    }
                    a{
                        position: relative;
                        text-decoration: none;
                        color: white;
                        line-height: 28px;
                        font-family: 'IBM Plex Mono', monospace;
                        font-weight: 500;
                        font-size: 16px;
                        color: #FFFFFF;
                        letter-spacing: 0;
                        text-transform: uppercase;
                        margin-bottom: 24px;
                        display: block;  
                        &:hover{
                            color: #fff;
                            font-family: 'IBM Plex Mono-Medium', monospace;
                            font-weight: 500;
                            font-size: 16px;
                            color: #00F3BB;
                            letter-spacing: 0;
                            line-height: 28px;
                        }
                        &:active{
                            font-family: 'IBM Plex Mono', monospace;
                            font-size: 16px;
                            font-weight: 500;
                            color: rgba(6,10,36,0.56);
                            text-decoration: line-through;
                            letter-spacing: 0;
                            line-height: 28px;
                        }  
                    }
                }
            }
            input {
                display: block;
                width: 40px;
                height: 32px;
                opacity: 0;
                z-index: 2;
                position: absolute;
                &:checked ~ ul {
                    height: 224px;
                    transition: height 0.5s ease-in-out;
                    -moz-transition: height 0.5s ease-in-out;
                    -o-transition: height 0.5s ease-in-out;
                    -webkit-transition: height 0.5s ease-in-out;
                } 
            }
            span {
                display: block;
                width: 25px;
                height: 2.5px;
                margin-bottom: 6.5px;
                position: relative;
                background: #000;
                z-index: 1;
                transform-origin: 3px 0px;
                transition: transform 0.5s ease,
                opacity 0.55s ease;
                &:first-child {
                    transform-origin: 0% 0%;
                }
                &:nth-last-child(2) {
                    transform-origin: 0% 100%;
                }
            } 
            input:checked ~ span {
                opacity: 1;
                transform: rotate(45deg) translate(2px, 1px);
            }
            input:checked ~ span:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }
            input:checked ~ span:nth-last-child(2) {
                transform: rotate(-45deg) translate(1px, 0px);
            }   
        }
    }
}
.bienvenida{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    &__content{
        flex-flow: column;
        width: 90vw;
        & .titulo {
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 36px;
            line-height: 42px;
            font-weight: normal;
            color: #060A24;
            letter-spacing: 0;
            & .tachado {
                font-family: 'IBM Plex Sans', sans-serif;
                font-size: 36px;
                line-height: 42px;
                color: #060A24;
                letter-spacing: 0;
                text-decoration: line-through;
            }
            & .azul{
                color: #0000ec;
                font-family: 'IBM Plex Sans', sans-serif;
                font-size: 36px;
                line-height: 42px;
                letter-spacing: 0;
            }
        }
        & .textomobile {    
            width: 288px;
            margin-top: 16px;  
            font-family: 'IBM Plex Mono', monospace; 
            font-weight: 500;
            font-size: 14px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 22px;
        }
        & .textodesktop{
            display: none;
        }       
    }
    .containerBoton {
        display: flex;
        justify-content: center;
        margin-top: 35px;
        margin-bottom: 24px;
        & .bienvenida__boton{
            display: flex;
            width: 90vw;
            height: 56px;
            font-family: 'IBM Plex Mono - Medium', monospace;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #060A24;
            text-transform: uppercase;
            background-color: #00F3BB;
            align-items: center;
            justify-content: center;
            &:hover{
                background-image: linear-gradient(270deg, #0000FE 0%, #00F0B8 100%);
                cursor: pointer;
                color: #FFFFFF;
            }
        }
    }
}
.episodios{
    background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
    display: flex;
    flex-flow: column nowrap;  
    align-items: center;
    &__titulo{
        font-family: 'IBM Plex Sans', monospace;
        font-weight: normal;
        margin-bottom: 20px;
        margin-top: 75px;
        margin-left: -130px;
        font-size: 36px;
        color: #FFFFFF;
        line-height: 42px;
        text-transform: capitalize;
        letter-spacing: 0;        
    }
     .iframes{
        display: flex;
        flex-flow: row wrap;             
        justify-content: center;
        width: 320px;
        margin-bottom: 150px;
        div{
            width: 95vw;
            margin-bottom: 10px;
        }
    }
}
.donde{
    display: flex;
    justify-content: center;
    margin-bottom: 55px;     
    margin-top: -120px;
    .dondecontainer{
        width: 90vw;
        display: flex;       
        flex-flow: row wrap;
        justify-content: center;  
        z-index: 1;
        .dondeimagen {
            width: 360px;
            height: 520px;      
            margin-bottom: 25px;
            .phone{
                width: 320px;
                height: 500px;
            }
        }
        .dondetexto{
            h2{
                font-family: 'IBM Plex Sans', monospace;
                font-weight: 400;
                font-size: 36px;
                color: #060A24;
                letter-spacing: 0;
                margin-bottom: 8px ;
                line-height: 42px;
            }
            p{
                font-family: 'IBM Plex Mono', monospace; 
                font-weight: 500;
                font-size: 14px;
                color: #060A24;
                letter-spacing: 0;
                line-height: 22px;
            } 
        }
    }
}
.invitados{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        font-family: 'IBM Plex Sans', monospace;
        font-weight: 400;
        width: 280px;
        font-size: 36px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 42px;
        margin-bottom: 14px;
    }
    .invitados-grid{
        font-size: 0;
        grid-template-columns: auto auto auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-bottom: 50px;
        img{
            width: 320px;
            height: 243px;
        }
    }
}
.subjects{
    display: flex;
    align-items: center;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    &__title {
        width: 280px;
        font-family: 'IBM Plex Sans', monospace;
        font-weight: 400;
        font-size: 36px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 42px;
        margin-bottom: 25px;
    }
    &__container {
        width: 320px;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
    &__list {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
    &__item {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
        margin-bottom: 50px;
        
        &--text {
            width: 320px;
            font-family: 'IBM Plex Sans', monospace;
            font-weight: 600;
            font-size: 24px;
            color: #060A24;
            letter-spacing: 0;
            text-align: center;
        }
    }
}
.novedades{
    display: flex;
    background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    height: 340px;
    align-items: flex-end;
    justify-content: center;
    width: 100vw;
    &__container {
        width: 90vw;
        height: 340px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        &__title{
            font-family: 'IBM Plex Sans', monospace;
            font-size: 36px;
            font-weight: 400;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            line-height: 42px;
            margin-bottom: 36px;
        }
        &__boton{
            text-align: center;
            display: flex;
            width: 100%;
            height: 56px;
            font-family: 'IBM Plex Mono - Medium', monospace;
            font-weight: 600;
            font-size: 18px;
            color: black;
            text-transform: uppercase;
            background-color: #00F3BB;
            align-items: center;
            justify-content: center;
            &:hover{
                background-image: linear-gradient(270deg, #0000FE 0%, #00F0B8 100%);
                cursor: pointer;
                color: #FFFFFF;
            }
        }
    }
}
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    .footer__container{
        display: flex;
        align-items: center;
        height: 10vh;
        width: 80vw;
        justify-content: center;
        text-align: center;
        flex-flow: row wrap;
        margin-bottom: 20px;
        margin-top: 10px;
        &__text{
            width: 320px;
            font-family: 'IBM Plex Mono', monospace;
            font-weight: 500;
            font-size: 14px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 22px;
        }
        &__icons{
            width: 320px;
            height: 40px;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            .brand{
                display: flex;
                width: 40px;
                height: 40px;
                align-items: center;
                justify-content: center;
                color: black;
                a{
                    color: black;
                }
            }
        }
    }
}
@media screen and (min-width: 1440px){
    body{
        header{
            margin-top: 10px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            width: 100vw;
            height: 5vh;
            & .logo{
                margin-left: 100px;
                width: 36px;
                height: 36px;
            }
            & nav{
                width: 90vw;
                display: flex; 
                justify-content: flex-end;
                & .menu{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 500px;
                    margin-right: 100px;
                    & #checkbox{
                        display: none;
                    }
                    & span{
                        display: none;                 
                    }
                    & ul {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-flow: row;
                        position: unset;
                        right: unset;
                        overflow: unset;
                        list-style: none;
                        height: 100%;
                        margin-top: unset;
                        transition: unset;
                        background: white;
                        & li{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-flow: row;
                            position: unset;
                            height: 80%;
                            margin: unset;
                            & :hover{
                                background: white;
                            }
                            & :first-child{
                                margin-top: 0;
                            }
                            & a{
                                display: flex;
                                color: #060A24;
                                margin-top: 0;
                                margin-bottom: 0;
                                & :hover{
                                    cursor: pointer;
                                    font-family: 'IBM Plex Mono', monospace;
                                    font-size: 16px;
                                    text-decoration: line-through;
                                    color: #00F3BB;
                                    font-weight: 500;
                                    letter-spacing: 0;
                                    line-height: 28px;
                                }
                                & :active{
                                    font-family: 'IBM Plex Mono', monospace;
                                    font-size: 16px;
                                    color: rgba(6,10,36,0.56);
                                    font-weight: 500;
                                    text-decoration: line-through;
                                    letter-spacing: 0;
                                    line-height: 28px;
                                }
                            }

                        }
                        
                    }
                }
                
            }
        }
        .bienvenida{
            height: 45vh;
            display: flex;
            align-items: flex-end;
            width: 100vw;
            &__content{
                display: flex;
                flex-flow: row wrap;
                height: 65%;
                width: 100%;
                margin-left: 200px;
                & .titulo {
                    width: 70%;
                    font-size: 64px;
                    & .tachado {
                        font-size: 64px;
                    }
                    & .azul{
                        font-size: 64px;
                    }
                }
                & .textomobile { 
                    display: none;
                    margin-top: unset;
                    height: 25%; 
                    width: 60%;
                    font-size: 16px;
                }
                & .textodesktop{
                    display: flex;
                    margin-top: unset;
                    width: 60%;
                    font-size: 16px;
                    font-family: 'IBM Plex Mono', sans-serif; 
                    font-weight: 500;
                    color: #060A24;
                    letter-spacing: 0;
                    line-height: 24px;
                }
                .containerBoton {
                    display: flex;
                    justify-content: flex-start;
                    margin-top: unset;
                    margin-bottom: unset;
                    height: 25%;
                    width: 60%;
                    align-self: flex-end;
                    align-items: flex-end;
                    & .bienvenida__boton{
                        width: 226px;
                        height: 56px;
                        font-size: 18px;
                    }
                }       
            }
        }
        .episodios{
            clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
            height: 1042px;
            display: flex;
            flex-flow: row wrap;
            width: 100vw;
            &__titulo{
                display: flex;
                height: 60px;
                margin-left: 200px;
                margin-bottom: 26px;
                margin-top: 185px;
                align-items: center;
                font-size: 48px;
                color: white;
            }
            .iframes{
                width: 100vw;
                height: 80vh;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                margin-bottom: 230px;
                div {
                    display: flex;
                    justify-content: space-around;
                    height: 300px;
                    width: 40%;
                    iframe{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .donde{
            display: flex;
            justify-content: unset;
            margin-top: 0;
            margin-bottom: unset;
            width: 100vw;
            display: flex;
            .dondecontainer{
                display: flex;
                justify-content: unset;
                width: 100%;
                flex-flow: row nowrap;
                .dondetexto{
                    width: 50%;
                    margin-top: 70px;
                    p{
                        font-size: 16px;
                        width: 65%;
                    }      
                    h2{
                        font-weight: 400;
                        font-size: 48px;
                        margin-bottom: 3vh;
                    }
                }
                .dondeimagen {
                    width: 50%;
                    .phone{
                        position: absolute;  
                        margin-left: 200px; 
                        margin-top: -15vh;    
                        width: 400px;
                        height: 650px;
                    }
                }
            }
        }
        .invitados{
            margin-top: 64px;
            width: 100vw;
            h2{
                font-size: 48px;
                width: 1040px;
                margin-bottom: 36px;
            }
            .invitados-grid{
                img{
                    width: 480px;
                    height: 364px;
                }
            }
        }
        .subjects{
            display: flex;
            align-items: center;
            width: 100%;
            height: 50vh;
            justify-content: center;
            &__title {
                width: 100%;
                font-size: 48px;
                margin-bottom: 70px;
                margin-left: 200px;
            }
            &__container {
                width: 1440px;
            }
            &__list {
                width: 70%;
                display: flex;
                flex-flow: row nowrap;
            }
            &__item {
                width: 100%;
                display: flex;
                flex-flow: column;
                text-align: center;
                justify-content: flex-start;
                align-items: center;
                &--image {
                    width: 104px;
                    height: 104px;
                    margin-bottom: 30px;
                }
                &--text {
                    width: 220px;
                }
            }
        }
        .novedades{
                display: flex;
                clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
                height: 520px;
            &__container {
                height: 80%;
                &__title{
                    font-size: 48px;
                    margin-bottom: 40px;
                }
                &__boton{
                    width: 345px;
                }
            }
        }
        footer{
            display: flex;
            justify-content: center;
            width: 100vw;
            height: 80px;
            .footer__container{
                width: 90vw;
                text-align: left;
                justify-content: space-between;
                &__text{
                    width: 30vw;
                    font-size: 16px;
                    line-height: 28px;
                }
                &__icons{
                    width: 20vw;
                    justify-content: space-around;
                }
            }
        }
    }
}